# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Malody-Plugin/v17
/Malody-Plugin/Debug/Malody-Plugin.tlog
/Malody-Plugin/Debug
/Malody-Plugin/x64/Debug
*.ini
/x64/Debug
/.vs/Malody-Plugin/FileContentIndex
/Malody-Plugin/x64/Release
/x64/Release
